//  CIRRO CUSTOM SASS
// ----------------------------------------------------------------------------


@-webkit-keyframes changn
	0%
		background: yellow 
	25%
		background: aqua
	50%
		background: blue  
	75%
		background: gray 
	100%
		background: green 



.test-class
	.single-dish
		&:hover
			cursor: pointer


.the-goodz
	display: none
	-webkit-animation: changn 2s infinite alternate
	background: purple





#menus 
	display: block
	text-align: center
	.menu-title
		text-align
	.menu
		cursor: pointer
		h3
			cursor: pointer
	.menu-item
		column-count: 3
		column-gap: 5px
		-webkit-column-count: 3
		-webkit-column-gap: 5px
		-moz-column-count: 3
		-moz-column-gap: 5px
		display: none
		padding: 0 30px
		li
			list-style: none
		h5
			margin-bottom: 0px
	.active
		display: block
	.hiddenz
		display: none